.otherData{
    padding: 5px;
    background-color: gainsboro;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}

table#otherDataTable{
    border-collapse: separate;
    border-spacing: 2px 5px;
}