.phone{
    max-width: 360px;
    max-height: 787px;
    box-sizing: border-box;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    overflow-y: auto;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
}