
.userSelected{  
    background-color: lightsalmon;
    padding: 5px;
    &input{
        background-color: lightsalmon;
    }
}


.userUnselected{
    background-color: white;
    padding: 5px;
    &input{
        background-color: white;
    }
}

.borderRed{
    border-color: red;
}

.borderGreen{
    border-color: green;
}

table#userDataComp{
    border-collapse: separate;
    border-spacing: 2px 5px;
    input{
        width: 100%;
        padding-left: 5px;
    }
}