
.userSelected{  
    background-color: lightsalmon;
    padding: 5px;
    &input{
        background-color: lightsalmon;
    }
}


.userUnselected{
    background-color: white;
    padding: 5px;
    &input{
        background-color: white;
    }
}

.borderRed{
    border-color: red;
}

.borderGreen{
    border-color: green;
}